.logo {
  font-family: "Unbounded", sans-serif;
  font-size: 22px;
  font-weight: 900;
  color: var(--white);
  text-decoration: none;
  letter-spacing: -0.5px;

  span {
    color: var(--green);
  }
}
